/* #wrap {
    overflow: hidden;
  } */
  
  .image {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 50%;
    height: 50%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
  }
  .image img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    /* object-position: 50% 50%; */
  }
  .container-side > ul > li:first-child .image {
    opacity: 1;
    visibility: visible;
  }
  
  .container-side {
      position: relative;
      display: grid;
      grid: 1fr / 1fr;
    /* width: 100%;
    height: 100%; */
    /* z-index: 999; */
    /* padding: 5%; */
  }
  .container-side > ul {
    list-style: none;
    /* width: 95%; */
    margin: 0 auto;
    padding: 0;
  }
  .container-item {
    padding: 15px 0;
  }
  
  .link {
    position: relative;
    font-size: calc(1.5rem + 3vw);
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
    -webkit-text-stroke:  0.08vw #1a1a1a;
    transition: opacity .3s ease-in-out;
  }
  .container-item.active .link + .image {
    opacity: 1;
    visibility: visible;
  }
  .container-side.hover .link {
    opacity: .4;
  }
  .container-item.active .link {
    opacity: 1;
  }

  .h2:hover ~ .bg-1{
    opacity: 0;
  }

  .h3:hover ~ .bg-2{
    opacity: 0.7;
  }

  .bg-1,
  .bg-2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s;
  }

  .bg-1{
    background-image: url(../../../assets/pprc.jpg);
    background-size: cover;
    background-position: center;
    opacity: 10;
  }
  .bg-2{
    background-image: url(../../../assets/ntw.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
  }