.wrapper{
    padding: 0px 20px;
}

.wrapper .service-heading{
text-align: center;
/* display: flex; */
justify-content: center;
align-items: center;
font-size: 3rem;
text-transform: uppercase;
font-weight: 800;
}

.service-wrap{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.right-card h3{
    font-size: 25px;
}

.right-card p{
    font-size: 15px;
}

.service-wrap .service-item{
    padding: 15px 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.service-wrap .service-inner{
    background: #fff;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 315px;
    /* width: 100%; */
    text-align: center;
    /* border: 2px solid #000000; */
    margin: 0 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.service-wrap .service-inner:hover{
    border: 2px solid rgba(45, 165, 255, 1);
    /* cursor: pointer; */
}

.service-wrap .service-inner img {
    width: 150px;
    /* height: 80px; */
    /* margin-bottom: 5px; */
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .service-wrap .service-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper .service-heading{
        font-size: 2.2rem;
    }
    .right-card h3{
        font-size: 20px;
    }
    .right-card p{
        font-size: 13px;
    }
    .service-wrap .service-inner{
        margin-bottom: 20px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
}