#header {
    /* position: relative; */
    background: var(--dark-blue);
    /* margin-bottom: 20px; */
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .header h1 {
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-white);
    /* position: relative; */
    padding-bottom: 2rem;
  }
  
  .header h1 span {
    display: block;
  }
  
  h1 span:nth-child(1) {
    font-weight: 800;
  }
  
  /* h1 span:nth-child(2),
  h1 span:nth-child(3) {
    font-weight: 100;
    font-size: 3rem;
  } */
  
  .header h1::after {
    content: "";
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 65%;
    height: 1px;
    background: var(--color-white);
  }

  .header-left{
    margin-right: 100px;
  }
  .header-right{
    margin-left: 100px;
  }
  
  .header-left p {
    margin: 3rem 0;
    color: var(--color-white);
    /* width: 70%; */
    font-size: 20px;
  }
  
  .header-right img {
    width: 100%;
    /* position: relative; */
  }
  
  
  @media screen and (max-width: 769px) {
    .header h1 {
      font-size: 3rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      margin-left: 50px;
      margin-right: 50px;
    }
  
    .header-left,
    .header-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }
  
    .header-left {
      margin-bottom: 4rem;
      
    }
  
    .header h1::after {
      left: 50%;
      transform: translateX(-50%);
    }
    .header-right img {
      width: 80%;
    }
  }