.workoutSlider .swiper-wrapper {
    height: 120px;
    /* background: pink; */
  }
  .swiper-theme-color{
    color: #ee6c4d;
  }
  
  .workoutSlider .swiper-button-prev::after,
  .workoutSlider .swiper-button-next::after {
    content: '';
  }
  
  .workoutSlider .swiper-button-prev,
  .workoutSlider .swiper-button-next {
    display: none;
    /* top: 96%; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
  }
  .swiper-pagination-bullet-active{
    background-color: rgb(0, 147, 171) !important;
  }
  
  .workoutSlider .swiper-button-prev {
    left: 88.4%;
    background-image: url('../../../assets/chevron-left.svg');
  }
  
  .workoutSlider .swiper-button-next {
    background-image: url('../../../assets/chevron-right.svg');
    right: 66px;
  }
  
  @media (max-width: 1300px) {
    .workoutSlider .swiper {
      height: auto;
    }
    .workoutSlider .swiper-wrapper {
      height: 320px;
    }
    .workoutSlider .swiper-button-prev,
    .workoutSlider .swiper-button-next {
      display: none;
    }
  }
  
  @media screen and (max-width: 780px) {
    .workoutSlider .swiper-wrapper {
        height: 140px;
      }
      .review-body{
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 2px;
      }
  }