.section{
    /* height: 80vh; */
    max-width: 1000px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.one{
    background: #0c0d0d;
}
.two{
    background: #9ade6e;
}
.three{
    background: #2cbde4;
}

.core-box{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.core-box a:hover{
  color: #C33F02;
}

.containerf{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 80vh; */
    /* padding: 2rem calc((80vw - 1300px) / 2); */
}
.column-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    /* padding: 0rem 2rem; */
}

.column-right{
    padding: 2rem;
    /* margin-bottom: 1rem; */
    font-size: 2rem;
    /* font-style: italic; */
}

.column-right p{
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.1;
}
/* button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: #f5cd03;
    color: #0c0d0d;
    cursor: pointer;
    border-radius: 50px;
} */
.text{
    color: #fff;
}

.column-left{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
}

.image{
    width: 250px;
    /* height: 100%; */
    /* max-width: 500px;
    max-height: 700px; */
}


  
  
  /* .inner:before,
  .inner:after{
    background-image: radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size));
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);  
  
  } */
  
  .inner:after{
    transform: scale(1.1, 1.1);
  }
  
  .inner:before{
  /*   background-image: radial-gradient(var(--dot-color) calc(var(--dot-size) + 1px), transparent calc(var(--dot-size) + 1px)); */
    transform: scale(1.2, 1.2);
  }
  
  .anim:after{
    animation: 6.4s linear move infinite;
  }
  
  .anim .inner:after{
    animation: 3.2s linear move infinite;
  }
  
  .anim .inner:before{
    animation: 1.6s linear move infinite;
  }
  
  @keyframes move{
    0%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
    }
    100%{
      background-position:calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2 * -1);
    }
  }

  
@media screen and (max-width: 768px) {
    .containerf{
        grid-template-columns: 1fr;
    }
}