/* .navbar-end a:hover {
    background: #006778;
    color: #fff;
}

.get-btn {
    border: #fff;
}
.navbar-start{
    height: 100%;
}
.menu-compact{
    background: #fff;
}
.menu-compact a{
    color: #006778;
}

.navbar .menu a:hover{
    background: #fff !important;
    color: #006778 !important;
}

.navbar {
    padding: 0;
}

.fa-phone-volume:hover {
    color: #006778;
    background: #fff;
}

@media screen and (max-width: 769px) {
    .navbar-end {
        display: none;
    }
} */